<!--<h1>Dog Year Calculator</h1>-->
<nav class="nav ml-3">
  <a class="nav-link disabled" href="#" tabindex="1" aria-disabled="true" style="font-weight: bolder">Dog Year Calculator</a>
</nav>
<div class="container-fluid ml-3 mr-3" >

  <p *ngIf="warningMessage">
    <ngb-alert [type]="'primary'" [dismissible]="false">
      <strong>Warning!</strong> <span id="warningMessage"> {{warningMessage}}</span>
    </ngb-alert>
  </p>
  <br />

  <label>
    <p>Age in human years: </p>
    <input type="number" step="any" class="form-control" aria-describedby="humanYearsHelp" [(ngModel)]="humanYears" (ngModelChange)="saveYears();toDogYears();" />
    <small id="humanYearsHelp" class="form-text text-muted">This divided by 7 is human years to dog years</small>
  </label>
  <br />
  <label>
    <p>Age in dog years: </p>
    <input type="number" step="any" class="form-control" [(ngModel)]="dogYears" (ngModelChange)="saveYears();toHumanYears();" />
    <small id="dogYearsHelp" class="form-text text-muted">This multiplied by 7 is dog years to human years</small>
  </label>
</div>
